<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="articleManager.article.mapper.ArticleMapper">

    <select id="getArticleList" resultType="articleManager.article.dto.ArticleDto">
        SELECT
            *
        FROM
            article;
    </select>
    
    <select id="findArticleById" parameterType="long" resultType="articleManager.article.dto.ArticleDto">
        SELECT
            *
        FROM
            article
        WHERE
            id = #{id};
    </select>


</mapper>