<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

<header class="border-b border-gray-300">
    <div class="flex h-20 mx-auto items-center text-3xl">
        <a href="/">LOGO</a>
        <div class="flex-grow"></div>
        <ul class="flex space-x-4">
            <li>
                <a class="hover:underline" href="/">HOME</a>
            </li>
            <li>
                <a class="hover:underline" href="/article/list">LIST</a>
            </li>
            <li>
                <a class="hover:underline" href="/member/join">JOIN</a>
            </li>
            <li>
                <a class="hover:underline" href="/member/login">LOGIN</a>
            </li>
        </ul>
    </div>
</header>

</th:block>
</html>